In [1]:
from process.clinic_data import writeClinic
from process.img_data import imgRedir
from process.pat_data import combinePatData
import os
os.chdir('..')

In [2]:
combinePatData()

,PATNO,EVENT_ID,INFODT,NUPDR3OF,NUPDR3ON,IMG_ID,AGE_AT_VISIT,SEX,ORIG_ENTRY,SCORE,DURATION,CAT,CAT_MDS,KEY,LEDD,SERIES,Group,Acq Date,IMG_ROOT
0,3107,V04,2012-03-01,2,2,I296431,70.6,1,03/2011,0.000000,14,0,0,3107V04I296431,760.0,S146599,PD,3/28/2012,data/subj/3107V04I296431
1,3107,V06,2013-05-01,18,6,I378218,71.7,1,03/2011,0.666667,28,1,1,3107V06I378218,760.0,S193431,PD,5/15/2013,data/subj/3107V06I378218
2,3107,V10,2015-05-01,19,6,I498876,73.7,1,03/2011,0.684211,52,1,1,3107V10I498876,920.0,S264293,PD,5/08/2015,data/subj/3107V10I498876
3,3108,V06,2013-04-01,13,15,I378222,51.8,0,04/2011,-0.153846,25,0,0,3108V06I378222,600.0,S193435,PD,4/24/2013,data/subj/3108V06I378222
4,3108,V10,2015-05-01,22,12,I498885,53.8,0,04/2011,0.454545,50,1,1,3108V10I498885,600.0,S264300,PD,5/06/2015,data/subj/3108V10I498885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,70188,V10,2021-11-01,30,30,I1524690,71.6,1,10/2017,0.000000,72,0,0,70188V10I1524690,1032.5,S1088926,PD,11/01/2021,data/subj/70188V10I1524690
209,74067,V06,2020-11-01,26,20,I1494222,72.0,0,05/2018,0.230769,40,0,0,74067V06I1494222,500.0,S1064428,PD,11/04/2020,data/subj/74067V06I1494222
210,74067,V10,2022-05-01,28,22,I1584008,73.5,0,05/2018,0.214286,58,0,0,74067V10I1584008,600.0,S1136103,PD,5/18/2022,data/subj/74067V10I1584008
211,75409,V06,2021-01-01,33,19,I1494309,72.4,0,11/2018,0.424242,41,1,1,75409V06I1494309,210.0,S1064511,PD,1/11/2021,data/subj/75409V06I1494309
212,101748,V04,2022-07-01,12,6,I1616202,63.7,0,07/2021,0.500000,16,1,1,101748V04I1616202,300.0,S1155603,PD,7/21/2022,data/subj/101748V04I1616202